html {
  background: url(trigs.png);
  background-size: cover;
  background-attachment: fixed;
  --acrylic: blur(15px) saturate(125%) brightness(1.2);
  --other-acrylic: blur(15px) saturate(125%) brightness(0.8);
}
input[type="text"],
button {
  background: transparent;
  border: none;
  outline: none;
  padding: 30px;
  margin: 10px;
  backdrop-filter: var(--acrylic);
}
input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  backdrop-filter: var(--acrylic);
}
input[type="radio"]:checked,
input[type="checkbox"]:checked {
  backdrop-filter: var(--other-acrylic);
}
